.Top{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Lora', serif;
    z-index: 999;
}

.TopLeft, .TopRight{
    flex: 3;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TopLeftIcon{
    font-size: 20px;
    margin-right: 10px;
    color: lightsteelblue;
    cursor: pointer;
}

.TopImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.TopCenter{
    flex: 3;
    background-color: lightsteelblue;
}

.TopList{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.TopListItem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.TopSearchIcon{
    font-size: 18px;   
    color: lightsteelblue;
    cursor: pointer;
    margin-left: 15px;
}

